In [143]:
import pickle
import re
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem.porter import *
pd.set_option("display.max_columns", 100)
pd.set_option('display.max_colwidth', 100)

In [149]:
with open("keywords.pkl", "rb") as f:
    keywords = pickle.load(f)

In [150]:
labels_list = ['Physical and meteorological environment',
                'Soil and soil productivity',
                'Vegetation',
                'Water quality and quantity',
                'Fish and fish habitat',
                'Wetlands',
                'Wildlife and wildlife habitat',
                'Species at Risk or Species of Special Status and related habitat',
                'Greenhouse gas (GHG) emissions and climate change',
                'GHG Emissions and Climate Change – Assessment of Upstream GHG Emissions',
                'Air emissions',
                'Acoustic environment',
                'Electromagnetism and Corona Discharge',
                'Human occupancy and resource use',
                'Heritage resources',
                'Navigation and navigation safety',
                'Traditional land and resource use',
                'Social and cultural well-being',
                'Human health and aesthetics',
                'Infrastructure and services',
                'Employment and economy',
                'Environmental Obligations',
                'Rights of Indigenous Peoples']

In [151]:
def label_with_keywords(i, table_text, keywords_for_label, label):
    number_of_matches = sum(word in table_text for word in keywords_for_label)
    if number_of_matches > 0:
        df[f'{label}'][i] = 1
        df[f'{label} Number of Matches'][i] = number_of_matches
        # df[f'{label} Relevance'][i] = number_of_matches / len(keywords_for_label)
    else:
        df[f'{label}'][i] = 0

In [163]:
# df = pd.read_csv('./data/ESA_website_ENG_with_VCs_onehot.csv')
df = pd.read_csv('./data/esa_index_with_table_text_no_labels.csv')

In [153]:
table_texts = df['text'].tolist()[0:10]

tokenized_table_texts = []
stemmer = PorterStemmer()

for i, table_text in enumerate(table_texts):
    processed_text = word_tokenize(table_text)
    processed_text = [w for w in processed_text if w not in stopwords.words("english")]
    processed_text = [stemmer.stem(w) for w in processed_text]
    tokenized_table_texts.append(processed_text)
    
print(tokenized_table_texts[0])

['tabl', '3', 'summari', 'OF', 'aquat', 'field', 'work', 'and', 'aborigin', 'field', 'studi', 'particip', 'for', 'the', 'project', 'survey', 'date', 'aborigin', 'commun', 'detail', 'juli', '9', '12', '2011', 'blueberri', 'river', 'first', 'nation', 'halfway', 'river', 'first', 'nation', 'mcleod', 'lake', 'indian', 'band', 'north', 'east', 'mti', 'associ', 'summer', '2011', 'open', 'water', 'aquat', 'assess', 'septemb', '18', 'octob', '10', '2011', 'blueberri', 'river', 'first', 'nation', 'halfway', 'river', 'first', 'nation', 'mcleod', 'lake', 'indian', 'band', 'north', 'east', 'mti', 'associ', 'fall', '2011', 'open', 'water', 'aquat', 'assess', 'februari', '26', 'march', '12', '2012', 'blueberri', 'river', 'first', 'nation', 'doig', 'river', 'first', 'nation', 'halfway', 'river', 'first', 'nation', 'kelli', 'lake', 'cree', 'first', 'nation', 'mcleod', 'lake', 'indian', 'band', 'north', 'east', 'mti', 'associ', 'winter', '2012', 'aquat', 'habitat', 'investig']

In [46]:
with open('tokenized_table_texts.pkl', 'wb') as f:
    pickle.dump(tokenized_table_texts, f)

In [47]:
with open('tokenized_table_texts.pkl', 'rb') as f:
    tokenized_table_text = pickle.load(f)

In [164]:
for label in labels_list:
    tokenized_table_text[f'{label}'] = 0
    tokenized_table_text[f'{label} - Number of Matches'] = 0
    # tokenized_table_head[f'{label} Relevance'] = 0

tokenized_table_text.head(2)

,Unnamed: 0,Index,Content Type,Application Name,Application Short Name,Application Filing Date,Company Name,Commodity,File Name,ESA Folder URL,Document Number,Data ID,PDF Download URL,Application Type (NEB Act),Pipeline Location,Hearing order,Consultant Name,Pipeline Status,Regulatory Instrument(s),Application URL,Decision URL,ESA Section(s),ESA Section(s) Index,ESA Section(s) Topics,CSV Download URL,PDF Page Number,PDF Page Count,PDF Size,PDF Outline,Download folder name,Zipped Project Link,Missing CSV,CSV Filename,csvFileName,text,label,Physical and meteorological environment,Physical and meteorological environment - Number of Matches,Soil and soil productivity,Soil and soil productivity - Number of Matches,Vegetation,Vegetation - Number of Matches,Water quality and quantity,Water quality and quantity - Number of Matches,Fish and fish habitat,Fish and fish habitat - Number of Matches,Wetlands,Wetlands - Number of Matches,Wildlife and wildlife habitat,Wildlife and wildlife habitat - Number of Matches,Species at Risk or Species of Special Status and related habitat,Species at Risk or Species of Special Status and related habitat - Number of Matches,Greenhouse gas (GHG) emissions and climate change,Greenhouse gas (GHG) emissions and climate change - Number of Matches,GHG Emissions and Climate Change – Assessment of Upstream GHG Emissions,GHG Emissions and Climate Change – Assessment of Upstream GHG Emissions - Number of Matches,Air emissions,Air emissions - Number of Matches,Acoustic environment,Acoustic environment - Number of Matches,Electromagnetism and Corona Discharge,Electromagnetism and Corona Discharge - Number of Matches,Human occupancy and resource use,Human occupancy and resource use - Number of Matches,Heritage resources,Heritage resources - Number of Matches,Navigation and navigation safety,Navigation and navigation safety - Number of Matches,Traditional land and resource use,Traditional land and resource use - Number of Matches,Social and cultural well-being,Social and cultural well-being - Number of Matches,Human health and aesthetics,Human health and aesthetics - Number of Matches,Infrastructure and services,Infrastructure and services - Number of Matches,Employment and economy,Employment and economy - Number of Matches,Environmental Obligations,Environmental Obligations - Number of Matches,Rights of Indigenous Peoples,Rights of Indigenous Peoples - Number of Matches
0,0,9134,Table,Application for North Montney Project,North Montney,11/8/2013,NOVA Gas Transmission Ltd.,Gas,B2-16 ESA_Appendix_G_Part1of4 (A3Q6H2),https://apps.cer-rec.gc.ca/REGDOCS/Item/LoadResult/1060040,A3Q6H2,1059614,https://apps.cer-rec.gc.ca/REGDOCS/File/Download/1059614,Large Projects (over 40 km),"British Columbia, All",GH-001-2014,"Stantec Consulting Ltd., TERA Environmental Consultants",Operating,GC-125,https://apps.cer-rec.gc.ca/REGDOCS/Item/View/1060220,https://apps.cer-rec.gc.ca/REGDOCS/Item/View/3890551,Appendix G: TERA Aquatics Summary Report,15.0,"Water, All",http://www.cer-rec.gc.ca/esa-ees/nrthmntn/nrthmntn_table-3-summary-of-aquatics-field-work-and-ab...,14,48.0,5.87,No,nrthmntn,http://www.cer-rec.gc.ca/esa-ees/nrthmntn.zip,False,nrthmntn_table-3-summary-of-aquatics-field-work-and-aborigi_pt-1_pg-14_doc-num-A3Q6H2.csv,1059614_14_lattice-v_1.csv,TABLE 3 SUMMARY OF AQUATICS FIELD WORK AND ABORIGINAL FIELD STUDY PARTICIPATION FOR THE PROJECT ...,-1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,9135,Table,Application for North Montney Project,North Montney,11/8/2013,NOVA Gas Transmission Ltd.,Gas,B2-16 ESA_Appendix_G_Part1of4 (A3Q6H2),https://apps.cer-rec.gc.ca/REGDOCS/Item/LoadResult/1060040,A3Q6H2,1059614,https://apps.cer-rec.gc.ca/REGDOCS/File/Download/1059614,Large Projects (over 40 km),"British Columbia, All",GH-001-2014,"Stantec Consulting Ltd., TERA Environmental Consultants",Operating,GC-125,https://apps.cer-rec.gc.ca/REGDOCS/Item/View/1060220,https://apps.cer-rec.gc.ca/REGDOCS/Item/View/3890551,Appendix G: TERA Aquatics Summary Report,15.0,"Water, All",http://www.cer-rec.gc.ca/esa-ees/nrthmntn/nrthmntn_table-4-summary-of-watercourse-crossings-alon...,17,48.0,5.87,No,nrthmntn,http://www.cer-rec.gc.ca/esa-ees/nrthmntn.zip,False,nrthmntn_table-4-summary-of-watercourse-crossings-along-the_pt-1_pg-17_doc-num-A3Q6H2.csv,1059614_17_lattice-v_1.csv,TABLE 4 SUMMARY OF WATERCOURSE CROSSINGS ALONG THE NORTH MONTNEY MAINLINE AITKEN CREEK SECTION F...,-1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [49]:
for i, table_text in enumerate(tokenized_table_texts):
    for keywords_for_label, label in zip(keywords, labels_list):
        label_with_keywords(i, table_text, keywords_for_label, label)
        
with open("esa_index_ENG_labeled.pkl", "wb") as f:
    pickle.dump(df, f)

df.head()

<ipython-input-14-e88376b0869c>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'{label}'][i] = 0
<ipython-input-14-e88376b0869c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'{label}'][i] = 1

,Unnamed: 0,Index,Content Type,Application Name,Application Short Name,Application Filing Date,Company Name,Commodity,File Name,ESA Folder URL,...,Human occupancy and resource use,Heritage resources,Navigation and navigation safety,Traditional land and resource use,Social and cultural well-being,Human health and aesthetics,Infrastructure and services,Employment and economy,Environmental Obligations,Rights of Indigenous Peoples
0,0,9134,Table,Application for North Montney Project,North Montney,11/8/2013,NOVA Gas Transmission Ltd.,Gas,B2-16 ESA_Appendix_G_Part1of4 (A3Q6H2),https://apps.cer-rec.gc.ca/REGDOCS/Item/LoadRe...,...,0,0,1,1,1,0,0,0,0,1
1,1,9135,Table,Application for North Montney Project,North Montney,11/8/2013,NOVA Gas Transmission Ltd.,Gas,B2-16 ESA_Appendix_G_Part1of4 (A3Q6H2),https://apps.cer-rec.gc.ca/REGDOCS/Item/LoadRe...,...,0,0,1,1,1,0,1,1,1,1
2,2,9136,Table,Application for North Montney Project,North Montney,11/8/2013,NOVA Gas Transmission Ltd.,Gas,B2-16 ESA_Appendix_G_Part1of4 (A3Q6H2),https://apps.cer-rec.gc.ca/REGDOCS/Item/LoadRe...,...,0,0,1,1,0,0,1,1,1,1
3,3,9137,Table,Application for North Montney Project,North Montney,11/8/2013,NOVA Gas Transmission Ltd.,Gas,B2-16 ESA_Appendix_G_Part1of4 (A3Q6H2),https://apps.cer-rec.gc.ca/REGDOCS/Item/LoadRe...,...,0,0,1,1,0,0,1,1,1,1
4,4,9138,Table,Application for North Montney Project,North Montney,11/8/2013,NOVA Gas Transmission Ltd.,Gas,B2-16 ESA_Appendix_G_Part1of4 (A3Q6H2),https://apps.cer-rec.gc.ca/REGDOCS/Item/LoadRe...,...,0,0,1,1,0,0,0,1,1,1

In [ ]:
df.to_csv('./mydata/esa_index_keyword_labeled.csv')

In [144]:
with open("esa_index_ENG_labeled.pkl", "rb") as f:
    df = pickle.load(f)

In [148]:
df.iloc[:, 34:59][0:50]

,text,label,Physical and meteorological environment,Soil and soil productivity,Vegetation,Water quality and quantity,Fish and fish habitat,Wetlands,Wildlife and wildlife habitat,Species at Risk or Species of Special Status and related habitat,Greenhouse gas (GHG) emissions and climate change,GHG Emissions and Climate Change – Assessment of Upstream GHG Emissions,Air emissions,Acoustic environment,Electromagnetism and Corona Discharge,Human occupancy and resource use,Heritage resources,Navigation and navigation safety,Traditional land and resource use,Social and cultural well-being,Human health and aesthetics,Infrastructure and services,Employment and economy,Environmental Obligations,Rights of Indigenous Peoples
0,TABLE 3 SUMMARY OF AQUATICS FIELD WORK AND ABORIGINAL FIELD STUDY PARTICIPATION FOR THE PROJECT ...,-1,0,0,1,1,1,0,1,0,0,0,0,0,0,0,0,1,1,1,0,0,0,0,1
1,TABLE 4 SUMMARY OF WATERCOURSE CROSSINGS ALONG THE NORTH MONTNEY MAINLINE AITKEN CREEK SECTION F...,-1,1,1,1,1,1,0,1,0,0,1,0,0,0,0,0,1,1,1,0,1,1,1,1
2,TABLE 4 SUMMARY OF WATERCOURSE CROSSINGS ALONG THE NORTH MONTNEY MAINLINE AITKEN CREEK SECTION F...,-1,1,1,0,1,1,0,1,0,0,1,0,0,0,0,0,1,1,0,0,1,1,1,1
3,TABLE 4 SUMMARY OF WATERCOURSE CROSSINGS ALONG THE NORTH MONTNEY MAINLINE AITKEN CREEK SECTION F...,-1,1,1,1,1,1,0,1,0,0,1,0,0,0,0,0,1,1,0,0,1,1,1,1
4,TABLE 4 SUMMARY OF WATERCOURSE CROSSINGS ALONG THE NORTH MONTNEY MAINLINE AITKEN CREEK SECTION F...,-1,1,1,0,1,1,0,1,0,0,1,0,0,0,0,0,1,1,0,0,0,1,1,1
5,TABLE 4 SUMMARY OF WATERCOURSE CROSSINGS ALONG THE NORTH MONTNEY MAINLINE AITKEN CREEK SECTION F...,-1,1,1,0,1,1,0,1,0,0,0,0,0,0,0,0,1,1,1,0,1,1,1,1
6,TABLE 4 SUMMARY OF WATERCOURSE CROSSINGS ALONG THE NORTH MONTNEY MAINLINE AITKEN CREEK SECTION F...,-1,1,1,0,1,1,0,1,0,0,1,0,0,0,0,0,1,1,1,0,1,1,1,1
7,TABLE 4 SUMMARY OF WATERCOURSE CROSSINGS ALONG THE NORTH MONTNEY MAINLINE AITKEN CREEK SECTION F...,-1,0,0,0,1,1,0,1,0,0,0,0,0,0,0,0,1,1,1,0,0,1,1,1
8,TABLE 5 SUMMARY OF WATER QUALITY PARAMETERS AND MEAN CHANNEL CHARACTERISTICS Field Site No Name ...,-1,1,0,1,1,1,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0
9,TABLE 5 SUMMARY OF WATER QUALITY PARAMETERS AND MEAN CHANNEL CHARACTERISTICS Field Site No Name ...,-1,1,0,1,1,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
10,TABLE 5 SUMMARY OF WATER QUALITY PARAMETERS AND MEAN CHANNEL CHARACTERISTICS Field Site No Name ...,-1,1,0,0,1,1,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0
11,TABLE 5 SUMMARY OF WATER QUALITY PARAMETERS AND MEAN CHANNEL CHARACTERISTICS Field Site No Name ...,-1,1,0,0,1,1,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0
12,TABLE 6 FISH HABITAT POTENTIAL RATINGS Field Site No Name Legal Location Fish Species Fish Habit...,-1,0,0,1,1,1,0,1,0,0,0,0,0,0,0,0,1,1,1,0,0,1,1,1
13,TABLE 6 FISH HABITAT POTENTIAL RATINGS Field Site No Name Legal Location Fish Species Fish Habit...,-1,1,0,1,1,1,0,1,0,0,0,0,0,0,0,0,1,1,0,0,0,1,1,1
14,TABLE 6 FISH HABITAT POTENTIAL RATINGS Field Site No Name Legal Location Fish Species Fish Habit...,-1,0,0,0,1,1,0,1,0,0,0,0,0,0,0,0,1,1,0,0,0,1,1,1
15,TABLE 6 FISH HABITAT POTENTIAL RATINGS Field Site No Name Legal Location Fish Species Fish Habit...,-1,0,0,0,1,1,0,1,0,0,0,0,0,0,0,0,1,1,1,0,0,1,1,1
16,TABLE 6 FISH HABITAT POTENTIAL RATINGS Field Site No Name Legal Location Fish Species Fish Habit...,-1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,1,0,0,0,1,1,1
17,TABLE 7 SUMMARY OF FISH SAMPLING RESULTS Field Site No Name Legal Location Sampling Effort in Su...,-1,0,0,1,1,1,0,1,0,0,0,0,0,0,1,0,1,1,1,0,0,1,1,1
18,TABLE 7 SUMMARY OF FISH SAMPLING RESULTS Field Site No Name Legal Location Sampling Effort in Su...,-1,1,0,1,1,1,0,1,0,0,0,0,0,0,1,0,1,1,0,0,0,1,1,1
19,TABLE 7 SUMMARY OF FISH SAMPLING RESULTS Field Site No Name Legal Location Sampling Effort in Su...,-1,0,0,0,1,1,0,1,0,0,0,0,0,0,1,0,1,1,1,0,0,1,1,1
20,TABLE 7 SUMMARY OF FISH SAMPLING RESULTS Field Site No Name Legal Location Sampling Effort in Su...,-1,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,1,1,0,0,0,1,1,1
21,TABLE 8 SUMMARY OF NONCLASSIFIED DRAINAGES Field Site No1 Name UTM Coordinates NAD 83 Zone 10 Le...,-1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0
22,TABLE 8 SUMMARY OF NONCLASSIFIED DRAINAGES Field Site No1 Name UTM Coordinates NAD 83 Zone 10 Le...,-1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0
23,Table 6 Fish Habitat Potential Ratings CHANNEL AND FLOW CONDITIONS Beaver Dams None Native Chann...,-1,1,0,1,1,1,0,1,0,0,0,0,0,0,0,0,1,1,0,0,0,1,1,1
24,Table 6 Fish Habitat Potential Ratings CHANNEL AND FLOW CONDITIONS Beaver Dams None Native Chann...,-1,1,0,1,1,1,0,1,0,0,0,0,0,0,0,0,1,1,0,0,0,1,1,1
25,Table 6 Fish Habitat Potential Ratings CHANNEL AND FLOW CONDITIONS Beaver Dams None Native Chann...,-1,1,0,1,1,1,0,1,0,0,0,0,0,0,0,0,1,1,0,0,0,1,1,1
26,Table 6 Fish Habitat Potential Ratings CHANNEL AND FLOW CONDITIONS Beaver Dams None Native Chann...,-1,1,0,1,1,1,0,1,0,0,0,0,0,0,0,0,1,1,0,0,0,1,1,1
27,TABLE 1 HYDROMETRIC DATA FROM DISCHARGE STATIONS IN THE VICINITY OF THE PROPOSED AITKEN CREEK SE...,-1,0,0,1,1,1,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0
28,TABLE 2 FISH SPECIES THAT MAY OCCUR IN THE UPPER PEACE RIVER BASIN IN THE VICINITY OF THE PROPOS...,-1,0,0,0,1,1,0,0,1,0,0,0,0,0,0,0,1,1,1,0,1,1,1,1
29,Table 31 Wildlife Species of Management Concern in the RAA Species Name Scientific Name Conserva...,-1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0
30,Table 31 Wildlife Species of Management Concern in the RAA Species Name Scientific Name Conserva...,-1,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
31,Table 32 EOSD Vegetation Cover Classes and Project Definitions Cover Class Definition1 Water Lak...,-1,1,1,1,1,1,1,0,0,1,0,0,0,0,1,0,1,0,0,0,1,0,1,1
32,Table 33 SpeciesHabitat Associations Used to Determine Availability of Suitable Habitat Cover Cl...,-1,0,0,1,1,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0
33,Table 33 SpeciesHabitat Associations Used to Determine Availability of Suitable Habitat Cover Cl...,-1,0,0,1,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,1,1,0,0
34,Table 41 Summary of Breeding Bird Surveys by Habitat Type Habitat Type Leading Tree Spp Other Tr...,-1,0,0,1,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
35,Table 42 Trumpeter Swans Observations TrumpeterSwanTotals Boga Fenb Fenmarshc Laked Oxbowchannel...,-1,0,1,1,1,0,1,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0
36,Table 43 Amphibian Observations Species Name Scientific Name Number of Adults Number ofJuveniles...,-1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
37,Table 44 Incidental Wildlife Observations 2013 Species 2013 Species Number ofObservations Type o...,-1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,1
38,Table 44 Incidental Wildlife Observations 2013 Species 2013 Species Number ofObservations Type o...,-1,0,0,0,0,1,0,1,1,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0
39,Table 44 Incidental Wildlife Observations 2013 Species 2013 Species Number ofObservations Type o...,-1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0
40,Table 45 Suitable Habitat Availability in the LAA for Species of Management Concern Species Wate...,-1,0,0,1,1,0,1,1,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0
41,Table 45 Suitable Habitat Availability in the LAA for Species of Management Concern Species Wate...,-1,0,0,1,1,0,1,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0
42,Table A1 Species Habitat Attributes Used to Assess Habitat Availability Species Seasons LifeRequ...,-1,0,0,1,0,1,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
43,Table A1 Species Habitat Attributes Used to Assess Habitat Availability Species Seasons LifeRequ...,-1,0,0,1,1,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
44,Table A1 Species Habitat Attributes Used to Assess Habitat Availability Species Seasons LifeRequ...,-1,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
45,Table A1 Species Habitat Attributes Used to Assess Habitat Availability Species Seasons LifeRequ...,-1,0,0,1,1,0,1,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0
46,Table B1 Bird Data Compiled from Regional and ProjectSpecific Sources Species Name eBird19702013...,-1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
47,Table B1 Bird Data Compiled from Regional and ProjectSpecific Sources Species Name eBird19702013...,-1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
48,Table B1 Bird Data Compiled from Regional and ProjectSpecific Sources Species Name eBird19702013...,-1,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
49,Table B1 Bird Data Compiled from Regional and ProjectSpecific Sources Species Name eBird19702013...,-1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [44]:
labeled_df = pd.read_csv('./data/project-1-at-2021-07-09-00-52-898dbd22.csv')

In [45]:
labeled_df

,Unnamed: 0,text,label,id,sentiment,annotator,annotation_id
0,8889,TABLE 8A.2 REASONABLY FORSEEABLE DEVELOPMENTS IDENTIFIED WITHIN THE SPATIAL BOUNDARIES OF THE BEAR CANYON SECTION Map ID s 1 s Title Proponent Description Construction Schedule s 2 s Assessment Type Quantitative or Qualitative Physical Environment and Soils LSA Water Quality and Quantity RSA Air Quality RSA Acoustic Environment RSA Fish and Fish Habitat RSA Wetlands RSA Vegetation RSA Wildlife and Wildlife Habitat RSA HORU RSA Heritage Resources RSA TRLU RSA Community RSA 13 30 79 12 W6M to...,-1,1,"{""choices"": [""Physical and meteorological environment"", ""Soil and soil productivity"", ""Vegetation"", ""Water quality and quantity"", ""Fish and fish habitat"", ""Wetlands"", ""Wildlife and wildlife habitat"", ""Acoustic environment""]}",jacques.thibodeau@cer-rec.gc.ca,1

In [91]:
for i in range(len(labeled_df)):
    chosen_labels = ast.literal_eval(labeled_df.sentiment[i])["choices"]
    for label in labels_list:
        if label in chosen_labels:
            df[f'{label}'][i] = 1

<ipython-input-91-cb7868f289e9>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'{label}'][i] = 1

In [92]:
df.iloc[:,36:58]

,Physical and meteorological environment,Soil and soil productivity,Vegetation,Water quality and quantity,Fish and fish habitat,Wetlands,Wildlife and wildlife habitat,Species at Risk or Species of Special Status and related habitat,Greenhouse gas (GHG) emissions and climate change,GHG Emissions and Climate Change – Assessment of Upstream GHG Emissions,Air emissions,Acoustic environment,Electromagnetism and Corona Discharge,Human occupancy and resource use,Heritage resources,Navigation and navigation safety,Traditional land and resource use,Social and cultural well-being,Human health and aesthetics,Infrastructure and services,Employment and economy,Environmental Obligations
0,1,1,1,1,1,1,1,0,0,0,0,1,0,0,0,1,1,1,0,0,0,0
1,1,1,1,1,1,0,1,0,0,1,0,0,0,0,0,1,1,1,0,1,1,1
2,1,1,0,1,1,0,1,0,0,1,0,0,0,0,0,1,1,0,0,1,1,1
3,1,1,1,1,1,0,1,0,0,1,0,0,0,0,0,1,1,0,0,1,1,1
4,1,1,0,1,1,0,1,0,0,1,0,0,0,0,0,1,1,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28886,0,1,1,1,1,0,0,0,0,0,0,0,0,1,0,1,1,0,0,1,1,1
28887,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,1,0,1,0,1
28888,0,0,0,0,0,1,1,1,0,0,0,0,1,0,0,1,0,1,0,1,0,1
28889,0,0,0,0,0,1,1,1,0,0,0,0,0,1,0,0,0,1,0,1,0,1
28890,0,1,1,1,0,1,1,1,0,0,0,0,0,1,0,1,1,1,0,1,1,1

In [ ]:
for i in range(len(labeled_df)):

In [117]:
str('"choices" ' + str(df.iloc[0, 36:][df.iloc[0, 36:] == 1].index.values.tolist()) + '}').replace('\'', '')

'"choices" [Physical and meteorological environment, Soil and soil productivity, Vegetation, Water quality and quantity, Fish and fish habitat, Wetlands, Wildlife and wildlife habitat, Acoustic environment, Navigation and navigation safety, Traditional land and resource use, Social and cultural well-being, Rights of Indigenous Peoples]}'

In [119]:
type({"choices": ["Physical and meteorological environment", "Soil and oil productivity", "Vegetation", "Water quality and quantity", "Fish and fish habitat", "Wetlands", "Wildlife and wildlife habitat", "Acoustic environment"]})

dict

In [138]:
myDict = {}
myDict["choices"] = df.iloc[0, 36:][df.iloc[0, 36:] == 1].index.values.tolist()

In [139]:
myDict

{'choices': ['Physical and meteorological environment',
  'Soil and soil productivity',
  'Vegetation',
  'Water quality and quantity',
  'Fish and fish habitat',
  'Wetlands',
  'Wildlife and wildlife habitat',
  'Acoustic environment',
  'Navigation and navigation safety',
  'Traditional land and resource use',
  'Social and cultural well-being',
  'Rights of Indigenous Peoples']}

In [141]:
import json

json.dumps(myDict)

'{"choices": ["Physical and meteorological environment", "Soil and soil productivity", "Vegetation", "Water quality and quantity", "Fish and fish habitat", "Wetlands", "Wildlife and wildlife habitat", "Acoustic environment", "Navigation and navigation safety", "Traditional land and resource use", "Social and cultural well-being", "Rights of Indigenous Peoples"]}'